* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  /* Parallax background */
  background-image: url("assets/food-bg.jpg"); /* path in /public */
  background-attachment: fixed; /* key for parallax effect */
  background-size: cover; /* cover full screen */
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: brightness(80%);
}

#root {
  display: flex;
  flex-direction: column;
}

.login-btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}

.login-btn:hover {
  transition-duration: 0.5s;
  background-color: #1e365a;
  color: white;
}

.navbar {
  backdrop-filter: brightness(60%);
}

.nav-login-btn {
  padding: 10px;
  width: 5rem;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
  color: white;
}
.nav-login-btn:hover {
  transition-duration: 0.5s;
  background-color: #1e365a;
  color: white;
}

.login-page {
}

.login-form {
  backdrop-filter: brightness(60%);
}
